
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        @Html.ActionLink("ASP MVC", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="navbar-collapse  collapse show" id="navbarColor01" style="">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">@Html.ActionLink("Customers", "Index", "Customers")</li>
                <li class="nav-item">@Html.ActionLink("Movie", "Index", "Movies")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>

    </div>
</nav>





   

   